<?xml version="1.0"?>


   <Background g="0.0" a="0.0" />

   <Stencil value="true" />
   <MultiThreaded value="CullDrawThreadPerContext" />
   <PreSwapOperation value="FINISH" />
   <SyncToVBlank value="On" />
   <Near value="100"/>
   <Far value="100000000" />
   <CullingMode value="CALVR" /> <!-- CALVR | DEFAULT -->
   <MultiSample value="4" />

   <ShowAxis value="off" />

   <ConfigDebug value="false" />
   <EventDebug value="false" />

   <Input>
     <TrackingDebug value="false" />
     <TrackingSystem0 value="MOUSE">
       <Offset x="0" y="0" z="0" />
       <Orientation h="0" p="0" r="0" />

       <NumBodies value="1" />
       <NumButtons value="3" />
       <NumValuators value="1" />

       <Body0>
         <Offset x="0" y="0" z="0" />
         <Orientation h="0" p="0" r="0" />
       </Body0>
     </TrackingSystem0>

     <NumHeads value="0" />
     <Head0Address system="0" body="0" />

     <NumHands value="1" />
     <Hand0>
       <Address system="0" body="0" />
       <ButtonMask system0="0xF"  />
       <Valuator0 system="0" number="0" type="NON_ZERO" />
     </Hand0>
   </Input>
    
   <Plugin>

   </Plugin>

   <ContextMenus>
     <Scale value="0.4" />
     <MinDistance value="750" />
     <MaxDistance value="1500" />
     <DefaultOpenButton value="1" />
   </ContextMenus>

   <MenuSystem type="BOARDMENU">
    <BoardMenu>
     <Position distance="3000" />
     <Scale value="1.0" />
     <Buttons select="0" open="1" />
     <Trigger value="DOUBLECLICK" />
    </BoardMenu>
   </MenuSystem>


   <ViewerPosition x="0" y="-2957" z="0" />
   <SceneSize value="1000" />

   <NumPipes value="1" />
   <NumWindows value="1" />
   <NumScreens value="1" />

   <PipeConfig>
    <Pipe server="0" screen="0" name="0" />
    <Pipe server="0" screen="1" name="1" />
   </PipeConfig>

   <ChannelConfig>
    <Channel width="1024" height="768" left="0" bottom="0" comment="MAIN" stereoMode="OPENVR"  windowIndex="0"  name="0"  />
    <Channel width="1024" height="768" left="0" bottom="0" comment="MAIN" stereoMode="MONO"  windowIndex="1"  name="1" />
   </ChannelConfig>
   
   <WindowConfig>
    <Window width="1024" comment="FRONT" pipeIndex="0" height="768" left="50" bottom="50" name="0" decoration="true" overrideRedirect="false" cudaDevice="0" />
    <Window width="1024" comment="FRONT" pipeIndex="0" height="768" left="50" bottom="1100" name="1" decoration="true" cudaDevice="0" />
   </WindowConfig>


   <ScreenConfig>
   <Screen width="2000" comment="FRONT" h="0.0" originX="0" originY="0" originZ="0" height="1500" p="0.0" r="0.0" name="0" />
   <Screen width="2000" comment="FRONT" h="0.0" originX="0" originY="0" originZ="0" height="1500" p="0.0" r="0.0" name="1" />
   </ScreenConfig>

